/* Material Icons */

@font-face {
    font-family: "Material Icons";
    src: url("../fonts/MaterialIcons-Regular.eot");
    src: url("../fonts/MaterialIcons-Regular.eot?#iefix") format('embedded-opentype'),
         url("../fonts/MaterialIcons-Regular.woff2") format('woff2'),
         url("../fonts/MaterialIcons-Regular.woff") format('woff'),
         url("../fonts/MaterialIcons-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}